@import '../../../styles/variables.scss';

$side-bar-width:80px;

.side-bar-wrapper{
    position: relative;

    .side-bar-content{
        background: $gradiant-row;

        position: absolute;
        width: $side-bar-width;
        left: -($side-bar-width);
        height: 100%;

        &.active{
            left: 0;
        }

        ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    }
}