@import '../../../styles/variables.scss';

.button {
  border: none;
  width: 60px;
  height: 60px;
  text-align: center;
  margin: .5em 0;
  border-radius: .5em;
  font-weight: bold;
  cursor: pointer;
  color: black;

  &.on{
    color: white;
    background: linear-gradient(to bottom, #4EACE0, #5094F9);
  }

}
