@import '../../../styles/variables.scss';

    .point-info-wrap {
        display: flex;

        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #efefef;
            margin-right: 1em;
            width: 60px;
            img{
                transform: scale(.8);
            }
        }

        .point-info {
            flex: 1;
            text-align: left;
            .title {
                font-size: 1.2em;
                padding-bottom: .5em;
            }
    
            .info {
                display: flex;
                color: grey;
                font-size: 0.8em;
                span{
                    flex: 1;
                }
            }
        }

    }
